body {
    font-family: 'Times New Roman', Times, serif;
    padding: 40px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    width: 260px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
}

.product-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 1px;
    border: 1px solid #ddd;
}

.product-card h3 {
    margin: 12px 0 6px;
    font-size: 18px;
    font-weight: 600;
}

.product-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.product-card .price {
    margin-top: 10px;
    display: block;
    font-size: 16px;
    font-weight: bold;
}


.logout-btn {
    padding: 10px;
    margin-bottom: 20px;
}