* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

section {
    background: white;
    width: 100%;
    max-width: 400px;
    padding: 30px;
}

section h1 {
    margin-bottom: 25px;
    font-size: 28px;
}

form div {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-family: 'Times New Roman', Times, serif;
}


.btn {
    height: 30px;
    width: 80px;
    font-size: 16px;
    cursor: pointer;
}

.extra-links {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.extra-links a {
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}